{# <div class="col-md-6 col-xs-12">
    <div class="left">
        <p>
        <b> Orange Studio</b> <br>
                Road 8, Block D, Cairo Free Zone, Nasr City, Cairo, EGYPT. <br>
                Tel .:  +202-22713519<br>
            +202-22713517<br>
                Fax .: +202-22713524<br>
        </p>
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="right">
contact form

    </div>
</div> #}
