<div class="col-md-6 col-xs-12">
    <div class="left">
        <h3>{{ fields.title.content }}</h3>
        {{ fields.body.content }}
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="right">
        <img src="{{ fields.field_image.content|trim|striptags }}"/>
    </div>
</div>
