<div class="item">
  <div class="outside">
      <img role="button" data-toggle="modal" data-target="#node-{{ fields.nid.content|striptags|trim }}" src="{{ fields.field_portofoilo_image.content|trim|striptags }}"/>
  </div>
</div>


